nav{
  background-color: #fff;
  padding: 20px 100px ;
//nav Items
  ul{
    display: block;
    li{
      text-transform: uppercase;
      font-weight: 600;
      a{

      }
    }
  }

//subitems
ul{
  li{
    a{

    }
  }
}
}
